<h1 class="title">Hello <%= @name %></h1>
<p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error tempore facilis expedita blanditiis
  cupiditate assumenda debitis iusto, rem quos a voluptatibus quaerat odit? Aliquid, similique animi pariatur incidunt
  ab perspiciatis.</p>